/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

/*

HEADER

*/



.header-nav-container{
    width: 100%;
    padding: 15px 0;
    position: relative;
    
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.col1-header{
    display: flex;
}

.col2-header{
    display: flex;
}


.col1-header > *{
    padding: 8px;
    
}

.col2-header > *{
    padding: 8px;
    
}



.button{
    color: white;
    background-color: #0160FF;
    padding: 5px 8px;
    border: #0160FF;
}

header a{
    text-decoration: none;
    color: darkgray;
}


.header-container{
    width: 100%;
    margin: auto;
    background-color: #B4D0E7;
    
}

.content-header{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

h1{
    font-size: 4em;
}

.intro{
    display: flex;
    padding-top: 50px;
}

.header-text{
    width: 40%;
}

.button-container{
    padding: 20px 0;
}

.arrow-down{
    padding-top: 50px;
}

.fa-arrow-down{
    font-size: 3em;
}

.header-image{
    width: 60%;
}

.jumbo{
    width: 100%;
}

/*

MAIN

*/

.business-plan-container{
    width: 100%;
}

.title-business-plan{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}

.choose-billing{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.choose-billing span{
    font-size: 0.8em;
    color: darkgray;
}

.default-plan{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.plans{
    width: 30%;
    gap: 5%;
    border: 1px solid darkgray;

}

.user-type{
    text-align: center;
    padding: 8px 10px;
    border: 1px solid darkgray;
}

.plans .offer-type h3{
    padding: 8px 10px 5px 10px;
}

.price{
    padding: 8px 10px;
}

.cadence-payment{
    padding: 0 10px 50px 10px;
}

.offer li{
    padding: 8px 10px;
}

li{
    list-style: none;
}

.shop-link{
    font-size: 0.8em;
    padding: 0 10px;
}

.highlights{
    padding-top: 80px 10px;
}

.highlights h3{
    padding: 25px 10px;
}

.user-type, .cadence-payment, .offer> * {
    color: darkgray;
    font-size: 0.8em;
}

.user-type .fa-solid{
    color: black;
}

.offer .fa-solid{
    color: black;
}

.highlights li{
    padding: 8px 10px;
    font-size: 0.8em;
}

.highlights .fa-check{
    color: #0160FF;
}

.button-container{
    padding: 15px 15px;
}

.costum-plan{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    border: 1px solid darkgray;
}

.title-and-button{
    display: flex;
    justify-content: space-between;
}

.title-and-button .offer-type h3{
    padding: 15px 10px;
}

.contacts-us-main{
    padding: 15px 10px;
}

.info-main{
    font-size: 0.8em;
    color: darkgray;
    padding: 30px 10px 20px 10px;
}

.contacts-partner-container-main{
    width: 100%;
}

.partner-dropbox-main{
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.image-partner-dropbox{
    width: 60%;
}

.partner{
    width: 100%;
}

.text-partner-dropbox{
    width: 40%;
}

.title-text-partner-dropbox, .paragraph-partner-dropbox{
    padding: 10px 15px;
}

.white-button-main{
    padding: 10px 15px;
}

.white-button{
    padding: 10px 0;
    background-color: white;
    border-color: darkgrey;
}

.info-operations-container-main{
    width: 100%;
    margin: o auto;
}

.title-operations-main{
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
}


.possible-operations{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards{
    width: calc(90% / 3);
}

.title-card{
    padding: 20px 0;
}

.paragraph-card{
    font-size: 0.8em;
}

.image-container{
    width: 100%;
}

.feedback-main-container{
    width: 100%;
    margin: 0 auto;
    
}

.feedback{
    width: 50%;
    padding-left: 15%;
    padding-top: 200px;
    padding-bottom: 100px;
}

a .link-feedback{
    color: blue;
}


.white-button-free-trial-main{
    background-color: white;
    border-color: white;
}

.title-feedback{
    font-size: 1.2em;
    padding-bottom: 50px;
}

.companies-partners-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.companies-partners-container > *{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.col-4-square > *{
    width: 50%;
    height: 50%;
    position: relative;
}

.image-companies{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
}

.image-companies-big{
    width: 50%;
    height: 50%;
    padding-left: 50px;
}

.big-square > p{
    font-size: 0.8em;
    padding: 0 20px;
}

.big-square{
    background-color: #F5F5F5;
}

.designit{
    background-color: #A2D39B;
}

.arizona-state{
    background-color: #61082B;
}

.uni-florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.world-bicycle-{
    background-color: #D5001F;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely-planet{
    background-color: #0D2481;
}

.clear-channel{
    background-color: #FFD830;
}

.free-trial-main-container{
    width: 100%;
    margin: 0 auto;
    background-color: #B4D0E7;
}

.free-trial{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
}

.title-free-trial{
    width: 60%;
}

.white-button-main{
    width: 40%;
}

.white-button-free-trial-main{
    padding: 5px 20px;
    border-color: white;
}

.FAQ-main-container{
    width: 100%;
    margin: 0 auto;
}

.FAQ{
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
}

.FAQ-list{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.single-FAQ{
    padding: 30px 0;
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
}

.last-FAQ{
    border-bottom: 1px solid darkgray;
}




/*

FOOTER

*/

.footer-container{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.top-footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 150px 0;
}

.col-footer{
    width: calc(100% / 5);
}

.list-footer> *{
    color: white;
    padding: 25px 0;
    font-size: 0.8em;
}

li .list-footer{
    padding: 15px 0;
}

.leader-list-footer{
    color: white;
}

.margin-down{
    margin-bottom: 1px solid darkgray;
}

.bottom-footer{
    width:80%;
    margin: 0 auto;
}

.language-container{
    padding: 30px 0;
    color: darkgray;
}
/*

DEBUG



.debug .header-nav-container{
    background-color: aquamarine;
    border: 2px dashed black;
}

.debug .col1-header{
    background-color: coral;
    border: 2px dashed white;
}

.debug .col2-header{
    background-color: greenyellow;
    border: 2px dashed white;
}



.debug .header-container{
    background-color: red;
    border: 2px dashed black;
}

.debug .content-header{
    background-color: blue;
    border:2px dashed black; ;
}



.debug .free-trial-main-container{
    background-color: blue;
    border:2px dashed black; ;
}

*/